@media screen {
  min-width: 375px;
}
@media screen {
  max-width: 1440px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 19%, 15%);
}
.box {
  background-color: hsl(217, 19%, 21%);
  width: 18rem;
  height: 10rem;
  justify-content: center;
  border-radius: 10px;
  margin-top: 15rem;
  margin-left: 30%;
  margin-bottom: 30%;
  box-shadow: 0px 0px 10px 10px;
}

.heading {
  color: rgb(50, 200, 50);
  font-size: 8px;
  font-family: monospace;
  text-align: center;
  margin-top: 30px;
}
.content {
  color: gray;
  padding-top: 20px 20px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 19px;
  font-size: 18px;
  text-align: center;
}
.circle {
  background-color: green;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 10%;
  height: 15%;
  margin-left: 45%;
  margin-top: 12%;
}
h6 {
  color: white;
  margin-top: 18%;
  font-size: 15px;
  margin-left: 1%;
}
