@media screen {
  min-width: 375px;
}
@media screen {
  max-width: 1440px;
}
body {
  background-color: hsl(217, 19%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: hsl(217, 19%, 21%);
  width: 18rem;
  height: 10rem;
  justify-content: center;
  border-radius: 8px;
  margin-top: 15rem;
  margin-bottom: 30%;
  box-shadow: 0px 0px 5px 5px;
}
.heading {
  color: rgb(50, 200, 50);
  font-size: 10px;
  font-family: monospace;
  text-align: center;
  margin-top: 20px;
}
.content {
  color: gray;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 19px;
  font-size: 18px;
  text-align: center;
}
.circle {
  background-color: green;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 10%;
  height: 15%;
  margin-left: 45%;
  margin-top: 13%;
}
.fa-calendar-days {
  margin-top: 12%;
}
.icon2 {
  color: white;
  opacity: 0.2;
  margin-left: 45%;
  font-size: 1.5rem;
  height: 10%;
  margin-top: -3.3rem;
}
